@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,300;0,500;1,200&family=Oxygen:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    font-family:"Kanit", 'Arial';
    height: 100vh;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

header{
    background-color: #6b0266;
}

header .contanier{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    max-width: 980px;
    height: 90px;
}





header nav ul li{
    list-style: none;
    display: inline-block;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    font-size: 18px;
    transition: all 220ms linear 0;
}

header nav ul li a:hover{
    opacity: 60%;
}

header .contanier img{
    height: 90px;
    padding: 1px;
}





main {
    margin-bottom: 100px;
}

main .container-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    margin: 100px auto 0px auto;
}

h1{
    color: #000000;
    font-size: 50px;
    line-height: 55px;
    margin: 10px;
    text-transform: uppercase;
}

h2{
    color: rgb(0,0,0);
    font-size: 45px;
    line-height: 50px;
    font-weight: bold;
}

h3{
    color: rgb(66, 66, 66);
    font-size: 20px;
    line-height: 28px;
    margin: 10px 0;
}

form {
    margin-top: 20px;
}

form input {
    width: 380px;
    padding-left: 15px;
    font-size: 18px;
    height: 45px;
    margin-bottom: 13px;
    border-radius: 20px;
    border: 2px solid #6b0266;
}
form [type="submit"] {
    background-color: #6b0266;
    color: white;
}
form [type="submit"]:hover {
    cursor: pointer;
    opacity: 80%;
}

main .container-main img{
    width: 600px;
}

/* CARDS */

.cards {
    width: 100%;
    max-width: 980px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.text--medium{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: rgb(187,185,185);
}

.card{
    display:flex;
    align-items:center;
    text-align: center;
    justify-content:center;
    flex-direction:column;
    cursor: pointer;
    box-shadow: 5px 5px 15px -4px #000000;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}

.card:hover{
    transform: translateY(-7px);
}

.imagem {
    width: 100%;
    height: 100%;
    padding-inline-end: 0%;
    position:relative;
    border-radius: 2px;
}

.imagem img{
    position:relative;
    max-width: 100%;
    max-height: 100%;
    object-fit:contain;
}

.content {
    margin:20px;
}

.content h3{
    font-size: 20px;
    color: #000000;
}

.title{
    margin-bottom:0px;
}

.desafio {
    font-size: 100px;
    display: flex;
    justify-content: center;
    height:400px;
    align-items: center;
    border: 1px solid black;
    margin: 100px auto;
    max-width: 980px;
}